@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
/* background: #FFF9F5; */
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #eaecef;
}

header{
  padding: 30px;
  background:#011627;
  height: 40px;
}

/* ---------- sidenav css ---------- */
.sidenav{
  width: 250px;
  background: #faece3;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  transition: all 1.3s;
  left: -100%;
}

.sidenav.active {
  left:0;
}
/* --------------------------------- */

ul{
  padding: 0;
  margin-top: 40px;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px;
  border-radius: 8px;
}

ul li a:hover,
ul li a.active{
  background: #fce3d2;
}

ul li a svg{
  margin-right: 10px;
}

header svg{
  font-size: 40px;
  cursor: pointer;
}

.main{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #eaecef;
}


